body, html {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: Arial, sans-serif;
}

.slideshow {
  position: relative;
  height: 96vh;
  overflow: hidden;
}

.slideshow-2 {
  position: relative;
  height: 65vh;
  overflow: hidden;
}

.slideshow img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  cursor: crosshair;
}

.slideshow-2 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 75%;
  max-height: 100%;
  object-fit: contain;
  cursor: crosshair;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  pointer-events: none;
}

.header-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10px;
}

.contact-bar {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 15px 0 0;
  font-size: 0.75em;
  pointer-events: auto;
  width: 100%;
}

.contact-bar a {
  font-style: italic;
  font-weight: normal;
  color: rgb(255, 255, 0);
  text-decoration: none;
}

.contact-bar span {
  font-style: italic;
  font-weight: normal;
  color: rgb(255, 255, 0);
}

.site-title {
  align-self: flex-start;
  margin-top: 10px;
  text-align: left;
  text-decoration: none;
  font-size: 3em;
  color: rgb(255, 255, 0);
  font-family: Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  pointer-events: auto;
}

.section-title {
  position: absolute;
  z-index: 10;
  align-self: flex-start;
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: right;
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  font-family: Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  pointer-events: none;
}

.section-wrapper {
background-color: black;
width: relative;
position: relative;
padding-top: 2px;
padding-bottom: 10vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 0.4em;
  pointer-events: auto;
}

.footer-left-black {
  color: black;
  font-style: italic;
  text-align: left;   
  margin-left: 5%;
}

.footer-left-white {
  color: white;
  font-style: italic;
  text-align: left;   
  margin-left: 5%;
}

.image-year {
  font-weight: bold;
  margin-left: 1px;
}

.footer-right {
  color: white;
  font-style: italic;
  text-align: right;
  max-width: 100%;
  margin-right: 10px;
  font-size: 0.4em;
}

.footer-right div {
  margin-bottom: 2px;
}